@media (max-width: 767px) {

	.search_wraper .search_one{
	    position: absolute;
	    top: 50%;
	    width: 250px !important;
	    bottom: auto;
	    padding: 0px;
	}

	.mg_contact.phone,
	.mg_contact.email{
		text-align: center;
	}
}


@media (max-width: 480px) {

	.search_wraper .search_one{
	    position: absolute;
	    top: 30%;
	    width: 250px!important;
	    bottom: auto;
	}

	.footer-services,
	.footer-payments{
		width: 100%;
	}



}
